<% if @channel.errors.any? %>
	<ul class="error">
		<% @channel.errors.full_messages.each do |msg|%>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= f.input :name %>
<%= f.input :num %>
<%= f.file_field :logo %>
