<h1>分类详细</h1>

<div id="product_list">
	<table>
		<caption><br /></caption>
		<tr>
			<td>
		</tr>	
	</table>
</div>

<%= link_to 'Edit', edit_channel_path(@channel) %>
<%= link_to 'Back', :controller => 'channels', :action => 'index', :class => 'btn btn-primary' %>